/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.OkHttpClient
import okhttp3.HttpUrl

import org.openapitools.client.models.CampaignCloneQuery
import org.openapitools.client.models.CampaignCreateQuery
import org.openapitools.client.models.CampaignMessageAssignTemplateQuery
import org.openapitools.client.models.CampaignMessagePartialUpdateQuery
import org.openapitools.client.models.CampaignPartialUpdateQuery
import org.openapitools.client.models.CampaignRecipientEstimationJobCreateQuery
import org.openapitools.client.models.CampaignSendJobCreateQuery
import org.openapitools.client.models.CampaignSendJobPartialUpdateQuery
import org.openapitools.client.models.GetAccounts4XXResponse
import org.openapitools.client.models.GetCampaignMessageCampaignRelationshipListResponse
import org.openapitools.client.models.GetCampaignMessageResponseCollectionCompoundDocument
import org.openapitools.client.models.GetCampaignMessageResponseCompoundDocument
import org.openapitools.client.models.GetCampaignMessageTemplateRelationshipListResponse
import org.openapitools.client.models.GetCampaignMessagesRelationshipListResponseCollection
import org.openapitools.client.models.GetCampaignRecipientEstimationJobResponse
import org.openapitools.client.models.GetCampaignRecipientEstimationResponse
import org.openapitools.client.models.GetCampaignResponse
import org.openapitools.client.models.GetCampaignResponseCollectionCompoundDocument
import org.openapitools.client.models.GetCampaignResponseCompoundDocument
import org.openapitools.client.models.GetCampaignSendJobResponse
import org.openapitools.client.models.GetCampaignTagRelationshipListResponseCollection
import org.openapitools.client.models.GetTagResponseCollection
import org.openapitools.client.models.GetTemplateResponse
import org.openapitools.client.models.PatchCampaignMessageResponse
import org.openapitools.client.models.PatchCampaignResponse
import org.openapitools.client.models.PostCampaignMessageResponse
import org.openapitools.client.models.PostCampaignRecipientEstimationJobResponse
import org.openapitools.client.models.PostCampaignResponse
import org.openapitools.client.models.PostCampaignSendJobResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class CampaignsApi(basePath: kotlin.String = defaultBasePath, client: OkHttpClient = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://a.klaviyo.com")
        }
    }

    /**
     * Create Campaign
     * Creates a campaign given a set of parameters, then returns it.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCreateQuery Creates a campaign from parameters
     * @return PostCampaignResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCampaign(revision: kotlin.String = "2024-07-15", campaignCreateQuery: CampaignCreateQuery) : PostCampaignResponse {
        val localVarResponse = createCampaignWithHttpInfo(revision = revision, campaignCreateQuery = campaignCreateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostCampaignResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Campaign
     * Creates a campaign given a set of parameters, then returns it.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCreateQuery Creates a campaign from parameters
     * @return ApiResponse<PostCampaignResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCampaignWithHttpInfo(revision: kotlin.String, campaignCreateQuery: CampaignCreateQuery) : ApiResponse<PostCampaignResponse?> {
        val localVariableConfig = createCampaignRequestConfig(revision = revision, campaignCreateQuery = campaignCreateQuery)

        return request<CampaignCreateQuery, PostCampaignResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCampaign
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCreateQuery Creates a campaign from parameters
     * @return RequestConfig
     */
    fun createCampaignRequestConfig(revision: kotlin.String, campaignCreateQuery: CampaignCreateQuery) : RequestConfig<CampaignCreateQuery> {
        val localVariableBody = campaignCreateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/campaigns/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Create Campaign Clone
     * Clones an existing campaign, returning a new campaign based on the original with a new ID and name.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCloneQuery Clones a campaign from an existing campaign
     * @return PostCampaignResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCampaignClone(revision: kotlin.String = "2024-07-15", campaignCloneQuery: CampaignCloneQuery) : PostCampaignResponse {
        val localVarResponse = createCampaignCloneWithHttpInfo(revision = revision, campaignCloneQuery = campaignCloneQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostCampaignResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Campaign Clone
     * Clones an existing campaign, returning a new campaign based on the original with a new ID and name.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCloneQuery Clones a campaign from an existing campaign
     * @return ApiResponse<PostCampaignResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCampaignCloneWithHttpInfo(revision: kotlin.String, campaignCloneQuery: CampaignCloneQuery) : ApiResponse<PostCampaignResponse?> {
        val localVariableConfig = createCampaignCloneRequestConfig(revision = revision, campaignCloneQuery = campaignCloneQuery)

        return request<CampaignCloneQuery, PostCampaignResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCampaignClone
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignCloneQuery Clones a campaign from an existing campaign
     * @return RequestConfig
     */
    fun createCampaignCloneRequestConfig(revision: kotlin.String, campaignCloneQuery: CampaignCloneQuery) : RequestConfig<CampaignCloneQuery> {
        val localVariableBody = campaignCloneQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/campaign-clone/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Assign Campaign Message Template
     * Creates a non-reusable version of the template and assigns it to the message.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignMessageAssignTemplateQuery Takes a reusable template, clones it, and assigns the non-reusable clone to the message.
     * @return PostCampaignMessageResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCampaignMessageAssignTemplate(revision: kotlin.String = "2024-07-15", campaignMessageAssignTemplateQuery: CampaignMessageAssignTemplateQuery) : PostCampaignMessageResponse {
        val localVarResponse = createCampaignMessageAssignTemplateWithHttpInfo(revision = revision, campaignMessageAssignTemplateQuery = campaignMessageAssignTemplateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostCampaignMessageResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Assign Campaign Message Template
     * Creates a non-reusable version of the template and assigns it to the message.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignMessageAssignTemplateQuery Takes a reusable template, clones it, and assigns the non-reusable clone to the message.
     * @return ApiResponse<PostCampaignMessageResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCampaignMessageAssignTemplateWithHttpInfo(revision: kotlin.String, campaignMessageAssignTemplateQuery: CampaignMessageAssignTemplateQuery) : ApiResponse<PostCampaignMessageResponse?> {
        val localVariableConfig = createCampaignMessageAssignTemplateRequestConfig(revision = revision, campaignMessageAssignTemplateQuery = campaignMessageAssignTemplateQuery)

        return request<CampaignMessageAssignTemplateQuery, PostCampaignMessageResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCampaignMessageAssignTemplate
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignMessageAssignTemplateQuery Takes a reusable template, clones it, and assigns the non-reusable clone to the message.
     * @return RequestConfig
     */
    fun createCampaignMessageAssignTemplateRequestConfig(revision: kotlin.String, campaignMessageAssignTemplateQuery: CampaignMessageAssignTemplateQuery) : RequestConfig<CampaignMessageAssignTemplateQuery> {
        val localVariableBody = campaignMessageAssignTemplateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/campaign-message-assign-template/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Create Campaign Recipient Estimation Job
     * Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the &#x60;Get Campaign Recipient Estimation Job&#x60; endpoint to retrieve the status of this estimation job. Use the &#x60;Get Campaign Recipient Estimation&#x60; endpoint to retrieve the estimated recipient count for a given campaign.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignRecipientEstimationJobCreateQuery Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the &#x60;Get Campaign Recipient Estimation Job&#x60; endpoint to retrieve the status of this estimation job. Use the &#x60;Get Campaign Recipient Estimation&#x60; endpoint to retrieve the estimated recipient count for a given campaign.
     * @return PostCampaignRecipientEstimationJobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCampaignRecipientEstimationJob(revision: kotlin.String = "2024-07-15", campaignRecipientEstimationJobCreateQuery: CampaignRecipientEstimationJobCreateQuery) : PostCampaignRecipientEstimationJobResponse {
        val localVarResponse = createCampaignRecipientEstimationJobWithHttpInfo(revision = revision, campaignRecipientEstimationJobCreateQuery = campaignRecipientEstimationJobCreateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostCampaignRecipientEstimationJobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Campaign Recipient Estimation Job
     * Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the &#x60;Get Campaign Recipient Estimation Job&#x60; endpoint to retrieve the status of this estimation job. Use the &#x60;Get Campaign Recipient Estimation&#x60; endpoint to retrieve the estimated recipient count for a given campaign.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignRecipientEstimationJobCreateQuery Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the &#x60;Get Campaign Recipient Estimation Job&#x60; endpoint to retrieve the status of this estimation job. Use the &#x60;Get Campaign Recipient Estimation&#x60; endpoint to retrieve the estimated recipient count for a given campaign.
     * @return ApiResponse<PostCampaignRecipientEstimationJobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCampaignRecipientEstimationJobWithHttpInfo(revision: kotlin.String, campaignRecipientEstimationJobCreateQuery: CampaignRecipientEstimationJobCreateQuery) : ApiResponse<PostCampaignRecipientEstimationJobResponse?> {
        val localVariableConfig = createCampaignRecipientEstimationJobRequestConfig(revision = revision, campaignRecipientEstimationJobCreateQuery = campaignRecipientEstimationJobCreateQuery)

        return request<CampaignRecipientEstimationJobCreateQuery, PostCampaignRecipientEstimationJobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCampaignRecipientEstimationJob
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignRecipientEstimationJobCreateQuery Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the &#x60;Get Campaign Recipient Estimation Job&#x60; endpoint to retrieve the status of this estimation job. Use the &#x60;Get Campaign Recipient Estimation&#x60; endpoint to retrieve the estimated recipient count for a given campaign.
     * @return RequestConfig
     */
    fun createCampaignRecipientEstimationJobRequestConfig(revision: kotlin.String, campaignRecipientEstimationJobCreateQuery: CampaignRecipientEstimationJobCreateQuery) : RequestConfig<CampaignRecipientEstimationJobCreateQuery> {
        val localVariableBody = campaignRecipientEstimationJobCreateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/campaign-recipient-estimation-jobs/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Create Campaign Send Job
     * Trigger a campaign to send asynchronously&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignSendJobCreateQuery Trigger the campaign to send asynchronously
     * @return PostCampaignSendJobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCampaignSendJob(revision: kotlin.String = "2024-07-15", campaignSendJobCreateQuery: CampaignSendJobCreateQuery) : PostCampaignSendJobResponse {
        val localVarResponse = createCampaignSendJobWithHttpInfo(revision = revision, campaignSendJobCreateQuery = campaignSendJobCreateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostCampaignSendJobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Campaign Send Job
     * Trigger a campaign to send asynchronously&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignSendJobCreateQuery Trigger the campaign to send asynchronously
     * @return ApiResponse<PostCampaignSendJobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCampaignSendJobWithHttpInfo(revision: kotlin.String, campaignSendJobCreateQuery: CampaignSendJobCreateQuery) : ApiResponse<PostCampaignSendJobResponse?> {
        val localVariableConfig = createCampaignSendJobRequestConfig(revision = revision, campaignSendJobCreateQuery = campaignSendJobCreateQuery)

        return request<CampaignSendJobCreateQuery, PostCampaignSendJobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCampaignSendJob
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param campaignSendJobCreateQuery Trigger the campaign to send asynchronously
     * @return RequestConfig
     */
    fun createCampaignSendJobRequestConfig(revision: kotlin.String, campaignSendJobCreateQuery: CampaignSendJobCreateQuery) : RequestConfig<CampaignSendJobCreateQuery> {
        val localVariableBody = campaignSendJobCreateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/campaign-send-jobs/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Delete Campaign
     * Delete a campaign with the given campaign ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param id The campaign ID to be deleted
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCampaign(id: kotlin.String, revision: kotlin.String = "2024-07-15") : Unit {
        val localVarResponse = deleteCampaignWithHttpInfo(id = id, revision = revision)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Delete Campaign
     * Delete a campaign with the given campaign ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:write&#x60;
     * @param id The campaign ID to be deleted
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCampaignWithHttpInfo(id: kotlin.String, revision: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteCampaignRequestConfig(id = id, revision = revision)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCampaign
     *
     * @param id The campaign ID to be deleted
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return RequestConfig
     */
    fun deleteCampaignRequestConfig(id: kotlin.String, revision: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/campaigns/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsCampaignMessage
     */
     enum class FieldsCampaignMessageGetCampaign(val value: kotlin.String) {
         @Json(name = "label") label("label"),
         @Json(name = "channel") channel("channel"),
         @Json(name = "content") content("content"),
         @Json(name = "send_times") send_times("send_times"),
         @Json(name = "render_options") render_options("render_options"),
         @Json(name = "render_options.shorten_links") render_optionsPeriodShorten_links("render_options.shorten_links"),
         @Json(name = "render_options.add_org_prefix") render_optionsPeriodAdd_org_prefix("render_options.add_org_prefix"),
         @Json(name = "render_options.add_info_link") render_optionsPeriodAdd_info_link("render_options.add_info_link"),
         @Json(name = "render_options.add_opt_out_language") render_optionsPeriodAdd_opt_out_language("render_options.add_opt_out_language"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "updated_at") updated_at("updated_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsCampaign
     */
     enum class FieldsCampaignGetCampaign(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "status") status("status"),
         @Json(name = "archived") archived("archived"),
         @Json(name = "audiences") audiences("audiences"),
         @Json(name = "audiences.included") audiencesPeriodIncluded("audiences.included"),
         @Json(name = "audiences.excluded") audiencesPeriodExcluded("audiences.excluded"),
         @Json(name = "send_options") send_options("send_options"),
         @Json(name = "tracking_options") tracking_options("tracking_options"),
         @Json(name = "send_strategy") send_strategy("send_strategy"),
         @Json(name = "send_strategy.method") send_strategyPeriodMethod("send_strategy.method"),
         @Json(name = "send_strategy.options_static") send_strategyPeriodOptions_static("send_strategy.options_static"),
         @Json(name = "send_strategy.options_static.datetime") send_strategyPeriodOptions_staticPeriodDatetime("send_strategy.options_static.datetime"),
         @Json(name = "send_strategy.options_static.is_local") send_strategyPeriodOptions_staticPeriodIs_local("send_strategy.options_static.is_local"),
         @Json(name = "send_strategy.options_static.send_past_recipients_immediately") send_strategyPeriodOptions_staticPeriodSend_past_recipients_immediately("send_strategy.options_static.send_past_recipients_immediately"),
         @Json(name = "send_strategy.options_throttled") send_strategyPeriodOptions_throttled("send_strategy.options_throttled"),
         @Json(name = "send_strategy.options_throttled.datetime") send_strategyPeriodOptions_throttledPeriodDatetime("send_strategy.options_throttled.datetime"),
         @Json(name = "send_strategy.options_throttled.throttle_percentage") send_strategyPeriodOptions_throttledPeriodThrottle_percentage("send_strategy.options_throttled.throttle_percentage"),
         @Json(name = "send_strategy.options_sto") send_strategyPeriodOptions_sto("send_strategy.options_sto"),
         @Json(name = "send_strategy.options_sto.date") send_strategyPeriodOptions_stoPeriodDate("send_strategy.options_sto.date"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "scheduled_at") scheduled_at("scheduled_at"),
         @Json(name = "updated_at") updated_at("updated_at"),
         @Json(name = "send_time") send_time("send_time");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsTag
     */
     enum class FieldsTagGetCampaign(val value: kotlin.String) {
         @Json(name = "name") name("name");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter include
     */
     enum class IncludeGetCampaign(val value: kotlin.String) {
         @Json(name = "campaign-messages") campaignMinusMessages("campaign-messages"),
         @Json(name = "tags") tags("tags");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Campaign
     * Returns a specific campaign based on a required id.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id The campaign ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return GetCampaignResponseCompoundDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaign(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaign>? = null, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaign>? = null, fieldsTag: kotlin.collections.List<FieldsTagGetCampaign>? = null, include: kotlin.collections.List<IncludeGetCampaign>? = null) : GetCampaignResponseCompoundDocument {
        val localVarResponse = getCampaignWithHttpInfo(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTag = fieldsTag, include = include)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignResponseCompoundDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign
     * Returns a specific campaign based on a required id.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id The campaign ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return ApiResponse<GetCampaignResponseCompoundDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaign>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaign>?, fieldsTag: kotlin.collections.List<FieldsTagGetCampaign>?, include: kotlin.collections.List<IncludeGetCampaign>?) : ApiResponse<GetCampaignResponseCompoundDocument?> {
        val localVariableConfig = getCampaignRequestConfig(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTag = fieldsTag, include = include)

        return request<Unit, GetCampaignResponseCompoundDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaign
     *
     * @param id The campaign ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return RequestConfig
     */
    fun getCampaignRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaign>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaign>?, fieldsTag: kotlin.collections.List<FieldsTagGetCampaign>?, include: kotlin.collections.List<IncludeGetCampaign>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsCampaignMessage != null) {
                    put("fields[campaign-message]", toMultiValue(fieldsCampaignMessage.toList(), "csv"))
                }
                if (fieldsCampaign != null) {
                    put("fields[campaign]", toMultiValue(fieldsCampaign.toList(), "csv"))
                }
                if (fieldsTag != null) {
                    put("fields[tag]", toMultiValue(fieldsTag.toList(), "csv"))
                }
                if (include != null) {
                    put("include", toMultiValue(include.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaigns/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsCampaignMessage
     */
     enum class FieldsCampaignMessageGetCampaignCampaignMessages(val value: kotlin.String) {
         @Json(name = "label") label("label"),
         @Json(name = "channel") channel("channel"),
         @Json(name = "content") content("content"),
         @Json(name = "send_times") send_times("send_times"),
         @Json(name = "render_options") render_options("render_options"),
         @Json(name = "render_options.shorten_links") render_optionsPeriodShorten_links("render_options.shorten_links"),
         @Json(name = "render_options.add_org_prefix") render_optionsPeriodAdd_org_prefix("render_options.add_org_prefix"),
         @Json(name = "render_options.add_info_link") render_optionsPeriodAdd_info_link("render_options.add_info_link"),
         @Json(name = "render_options.add_opt_out_language") render_optionsPeriodAdd_opt_out_language("render_options.add_opt_out_language"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "updated_at") updated_at("updated_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsCampaign
     */
     enum class FieldsCampaignGetCampaignCampaignMessages(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "status") status("status"),
         @Json(name = "archived") archived("archived"),
         @Json(name = "audiences") audiences("audiences"),
         @Json(name = "audiences.included") audiencesPeriodIncluded("audiences.included"),
         @Json(name = "audiences.excluded") audiencesPeriodExcluded("audiences.excluded"),
         @Json(name = "send_options") send_options("send_options"),
         @Json(name = "tracking_options") tracking_options("tracking_options"),
         @Json(name = "send_strategy") send_strategy("send_strategy"),
         @Json(name = "send_strategy.method") send_strategyPeriodMethod("send_strategy.method"),
         @Json(name = "send_strategy.options_static") send_strategyPeriodOptions_static("send_strategy.options_static"),
         @Json(name = "send_strategy.options_static.datetime") send_strategyPeriodOptions_staticPeriodDatetime("send_strategy.options_static.datetime"),
         @Json(name = "send_strategy.options_static.is_local") send_strategyPeriodOptions_staticPeriodIs_local("send_strategy.options_static.is_local"),
         @Json(name = "send_strategy.options_static.send_past_recipients_immediately") send_strategyPeriodOptions_staticPeriodSend_past_recipients_immediately("send_strategy.options_static.send_past_recipients_immediately"),
         @Json(name = "send_strategy.options_throttled") send_strategyPeriodOptions_throttled("send_strategy.options_throttled"),
         @Json(name = "send_strategy.options_throttled.datetime") send_strategyPeriodOptions_throttledPeriodDatetime("send_strategy.options_throttled.datetime"),
         @Json(name = "send_strategy.options_throttled.throttle_percentage") send_strategyPeriodOptions_throttledPeriodThrottle_percentage("send_strategy.options_throttled.throttle_percentage"),
         @Json(name = "send_strategy.options_sto") send_strategyPeriodOptions_sto("send_strategy.options_sto"),
         @Json(name = "send_strategy.options_sto.date") send_strategyPeriodOptions_stoPeriodDate("send_strategy.options_sto.date"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "scheduled_at") scheduled_at("scheduled_at"),
         @Json(name = "updated_at") updated_at("updated_at"),
         @Json(name = "send_time") send_time("send_time");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsTemplate
     */
     enum class FieldsTemplateGetCampaignCampaignMessages(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "editor_type") editor_type("editor_type"),
         @Json(name = "html") html("html"),
         @Json(name = "text") text("text"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter include
     */
     enum class IncludeGetCampaignCampaignMessages(val value: kotlin.String) {
         @Json(name = "campaign") campaign("campaign"),
         @Json(name = "template") template("template");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Campaign Campaign Messages
     * Return all messages that belong to the given campaign.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return GetCampaignMessageResponseCollectionCompoundDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignCampaignMessages(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignCampaignMessages>? = null, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignCampaignMessages>? = null, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignCampaignMessages>? = null, include: kotlin.collections.List<IncludeGetCampaignCampaignMessages>? = null) : GetCampaignMessageResponseCollectionCompoundDocument {
        val localVarResponse = getCampaignCampaignMessagesWithHttpInfo(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTemplate = fieldsTemplate, include = include)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignMessageResponseCollectionCompoundDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Campaign Messages
     * Return all messages that belong to the given campaign.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return ApiResponse<GetCampaignMessageResponseCollectionCompoundDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignCampaignMessagesWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignCampaignMessages>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignCampaignMessages>?, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignCampaignMessages>?, include: kotlin.collections.List<IncludeGetCampaignCampaignMessages>?) : ApiResponse<GetCampaignMessageResponseCollectionCompoundDocument?> {
        val localVariableConfig = getCampaignCampaignMessagesRequestConfig(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTemplate = fieldsTemplate, include = include)

        return request<Unit, GetCampaignMessageResponseCollectionCompoundDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignCampaignMessages
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return RequestConfig
     */
    fun getCampaignCampaignMessagesRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignCampaignMessages>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignCampaignMessages>?, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignCampaignMessages>?, include: kotlin.collections.List<IncludeGetCampaignCampaignMessages>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsCampaignMessage != null) {
                    put("fields[campaign-message]", toMultiValue(fieldsCampaignMessage.toList(), "csv"))
                }
                if (fieldsCampaign != null) {
                    put("fields[campaign]", toMultiValue(fieldsCampaign.toList(), "csv"))
                }
                if (fieldsTemplate != null) {
                    put("fields[template]", toMultiValue(fieldsTemplate.toList(), "csv"))
                }
                if (include != null) {
                    put("include", toMultiValue(include.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaigns/{id}/campaign-messages/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsCampaignMessage
     */
     enum class FieldsCampaignMessageGetCampaignMessage(val value: kotlin.String) {
         @Json(name = "label") label("label"),
         @Json(name = "channel") channel("channel"),
         @Json(name = "content") content("content"),
         @Json(name = "send_times") send_times("send_times"),
         @Json(name = "render_options") render_options("render_options"),
         @Json(name = "render_options.shorten_links") render_optionsPeriodShorten_links("render_options.shorten_links"),
         @Json(name = "render_options.add_org_prefix") render_optionsPeriodAdd_org_prefix("render_options.add_org_prefix"),
         @Json(name = "render_options.add_info_link") render_optionsPeriodAdd_info_link("render_options.add_info_link"),
         @Json(name = "render_options.add_opt_out_language") render_optionsPeriodAdd_opt_out_language("render_options.add_opt_out_language"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "updated_at") updated_at("updated_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsCampaign
     */
     enum class FieldsCampaignGetCampaignMessage(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "status") status("status"),
         @Json(name = "archived") archived("archived"),
         @Json(name = "audiences") audiences("audiences"),
         @Json(name = "audiences.included") audiencesPeriodIncluded("audiences.included"),
         @Json(name = "audiences.excluded") audiencesPeriodExcluded("audiences.excluded"),
         @Json(name = "send_options") send_options("send_options"),
         @Json(name = "tracking_options") tracking_options("tracking_options"),
         @Json(name = "send_strategy") send_strategy("send_strategy"),
         @Json(name = "send_strategy.method") send_strategyPeriodMethod("send_strategy.method"),
         @Json(name = "send_strategy.options_static") send_strategyPeriodOptions_static("send_strategy.options_static"),
         @Json(name = "send_strategy.options_static.datetime") send_strategyPeriodOptions_staticPeriodDatetime("send_strategy.options_static.datetime"),
         @Json(name = "send_strategy.options_static.is_local") send_strategyPeriodOptions_staticPeriodIs_local("send_strategy.options_static.is_local"),
         @Json(name = "send_strategy.options_static.send_past_recipients_immediately") send_strategyPeriodOptions_staticPeriodSend_past_recipients_immediately("send_strategy.options_static.send_past_recipients_immediately"),
         @Json(name = "send_strategy.options_throttled") send_strategyPeriodOptions_throttled("send_strategy.options_throttled"),
         @Json(name = "send_strategy.options_throttled.datetime") send_strategyPeriodOptions_throttledPeriodDatetime("send_strategy.options_throttled.datetime"),
         @Json(name = "send_strategy.options_throttled.throttle_percentage") send_strategyPeriodOptions_throttledPeriodThrottle_percentage("send_strategy.options_throttled.throttle_percentage"),
         @Json(name = "send_strategy.options_sto") send_strategyPeriodOptions_sto("send_strategy.options_sto"),
         @Json(name = "send_strategy.options_sto.date") send_strategyPeriodOptions_stoPeriodDate("send_strategy.options_sto.date"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "scheduled_at") scheduled_at("scheduled_at"),
         @Json(name = "updated_at") updated_at("updated_at"),
         @Json(name = "send_time") send_time("send_time");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsTemplate
     */
     enum class FieldsTemplateGetCampaignMessage(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "editor_type") editor_type("editor_type"),
         @Json(name = "html") html("html"),
         @Json(name = "text") text("text"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter include
     */
     enum class IncludeGetCampaignMessage(val value: kotlin.String) {
         @Json(name = "campaign") campaign("campaign"),
         @Json(name = "template") template("template");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Campaign Message
     * Returns a specific message based on a required id.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id The message ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return GetCampaignMessageResponseCompoundDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignMessage(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignMessage>? = null, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessage>? = null, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessage>? = null, include: kotlin.collections.List<IncludeGetCampaignMessage>? = null) : GetCampaignMessageResponseCompoundDocument {
        val localVarResponse = getCampaignMessageWithHttpInfo(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTemplate = fieldsTemplate, include = include)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignMessageResponseCompoundDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Message
     * Returns a specific message based on a required id.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id The message ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return ApiResponse<GetCampaignMessageResponseCompoundDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignMessageWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignMessage>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessage>?, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessage>?, include: kotlin.collections.List<IncludeGetCampaignMessage>?) : ApiResponse<GetCampaignMessageResponseCompoundDocument?> {
        val localVariableConfig = getCampaignMessageRequestConfig(id = id, revision = revision, fieldsCampaignMessage = fieldsCampaignMessage, fieldsCampaign = fieldsCampaign, fieldsTemplate = fieldsTemplate, include = include)

        return request<Unit, GetCampaignMessageResponseCompoundDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignMessage
     *
     * @param id The message ID to be retrieved
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaignMessage For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return RequestConfig
     */
    fun getCampaignMessageRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsCampaignMessage: kotlin.collections.List<FieldsCampaignMessageGetCampaignMessage>?, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessage>?, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessage>?, include: kotlin.collections.List<IncludeGetCampaignMessage>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsCampaignMessage != null) {
                    put("fields[campaign-message]", toMultiValue(fieldsCampaignMessage.toList(), "csv"))
                }
                if (fieldsCampaign != null) {
                    put("fields[campaign]", toMultiValue(fieldsCampaign.toList(), "csv"))
                }
                if (fieldsTemplate != null) {
                    put("fields[template]", toMultiValue(fieldsTemplate.toList(), "csv"))
                }
                if (include != null) {
                    put("include", toMultiValue(include.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaign-messages/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsCampaign
     */
     enum class FieldsCampaignGetCampaignMessageCampaign(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "status") status("status"),
         @Json(name = "archived") archived("archived"),
         @Json(name = "audiences") audiences("audiences"),
         @Json(name = "audiences.included") audiencesPeriodIncluded("audiences.included"),
         @Json(name = "audiences.excluded") audiencesPeriodExcluded("audiences.excluded"),
         @Json(name = "send_options") send_options("send_options"),
         @Json(name = "tracking_options") tracking_options("tracking_options"),
         @Json(name = "send_strategy") send_strategy("send_strategy"),
         @Json(name = "send_strategy.method") send_strategyPeriodMethod("send_strategy.method"),
         @Json(name = "send_strategy.options_static") send_strategyPeriodOptions_static("send_strategy.options_static"),
         @Json(name = "send_strategy.options_static.datetime") send_strategyPeriodOptions_staticPeriodDatetime("send_strategy.options_static.datetime"),
         @Json(name = "send_strategy.options_static.is_local") send_strategyPeriodOptions_staticPeriodIs_local("send_strategy.options_static.is_local"),
         @Json(name = "send_strategy.options_static.send_past_recipients_immediately") send_strategyPeriodOptions_staticPeriodSend_past_recipients_immediately("send_strategy.options_static.send_past_recipients_immediately"),
         @Json(name = "send_strategy.options_throttled") send_strategyPeriodOptions_throttled("send_strategy.options_throttled"),
         @Json(name = "send_strategy.options_throttled.datetime") send_strategyPeriodOptions_throttledPeriodDatetime("send_strategy.options_throttled.datetime"),
         @Json(name = "send_strategy.options_throttled.throttle_percentage") send_strategyPeriodOptions_throttledPeriodThrottle_percentage("send_strategy.options_throttled.throttle_percentage"),
         @Json(name = "send_strategy.options_sto") send_strategyPeriodOptions_sto("send_strategy.options_sto"),
         @Json(name = "send_strategy.options_sto.date") send_strategyPeriodOptions_stoPeriodDate("send_strategy.options_sto.date"),
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "scheduled_at") scheduled_at("scheduled_at"),
         @Json(name = "updated_at") updated_at("updated_at"),
         @Json(name = "send_time") send_time("send_time");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Campaign Message Campaign
     * Return the related campaign&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return GetCampaignResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignMessageCampaign(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessageCampaign>? = null) : GetCampaignResponse {
        val localVarResponse = getCampaignMessageCampaignWithHttpInfo(id = id, revision = revision, fieldsCampaign = fieldsCampaign)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Message Campaign
     * Return the related campaign&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return ApiResponse<GetCampaignResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignMessageCampaignWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessageCampaign>?) : ApiResponse<GetCampaignResponse?> {
        val localVariableConfig = getCampaignMessageCampaignRequestConfig(id = id, revision = revision, fieldsCampaign = fieldsCampaign)

        return request<Unit, GetCampaignResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignMessageCampaign
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsCampaign For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return RequestConfig
     */
    fun getCampaignMessageCampaignRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsCampaign: kotlin.collections.List<FieldsCampaignGetCampaignMessageCampaign>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsCampaign != null) {
                    put("fields[campaign]", toMultiValue(fieldsCampaign.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaign-messages/{id}/campaign/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Campaign Message Relationships Campaign
     * Returns the ID of the related campaign&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return GetCampaignMessageCampaignRelationshipListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignMessageRelationshipsCampaign(id: kotlin.String, revision: kotlin.String = "2024-07-15") : GetCampaignMessageCampaignRelationshipListResponse {
        val localVarResponse = getCampaignMessageRelationshipsCampaignWithHttpInfo(id = id, revision = revision)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignMessageCampaignRelationshipListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Message Relationships Campaign
     * Returns the ID of the related campaign&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return ApiResponse<GetCampaignMessageCampaignRelationshipListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignMessageRelationshipsCampaignWithHttpInfo(id: kotlin.String, revision: kotlin.String) : ApiResponse<GetCampaignMessageCampaignRelationshipListResponse?> {
        val localVariableConfig = getCampaignMessageRelationshipsCampaignRequestConfig(id = id, revision = revision)

        return request<Unit, GetCampaignMessageCampaignRelationshipListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignMessageRelationshipsCampaign
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return RequestConfig
     */
    fun getCampaignMessageRelationshipsCampaignRequestConfig(id: kotlin.String, revision: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaign-messages/{id}/relationships/campaign/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Campaign Message Relationships Template
     * Returns the ID of the related template&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60; &#x60;templates:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return GetCampaignMessageTemplateRelationshipListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignMessageRelationshipsTemplate(id: kotlin.String, revision: kotlin.String = "2024-07-15") : GetCampaignMessageTemplateRelationshipListResponse {
        val localVarResponse = getCampaignMessageRelationshipsTemplateWithHttpInfo(id = id, revision = revision)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetCampaignMessageTemplateRelationshipListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Message Relationships Template
     * Returns the ID of the related template&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60; &#x60;templates:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return ApiResponse<GetCampaignMessageTemplateRelationshipListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignMessageRelationshipsTemplateWithHttpInfo(id: kotlin.String, revision: kotlin.String) : ApiResponse<GetCampaignMessageTemplateRelationshipListResponse?> {
        val localVariableConfig = getCampaignMessageRelationshipsTemplateRequestConfig(id = id, revision = revision)

        return request<Unit, GetCampaignMessageTemplateRelationshipListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignMessageRelationshipsTemplate
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return RequestConfig
     */
    fun getCampaignMessageRelationshipsTemplateRequestConfig(id: kotlin.String, revision: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaign-messages/{id}/relationships/template/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsTemplate
     */
     enum class FieldsTemplateGetCampaignMessageTemplate(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "editor_type") editor_type("editor_type"),
         @Json(name = "html") html("html"),
         @Json(name = "text") text("text"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Campaign Message Template
     * Return the related template&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60; &#x60;templates:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return GetTemplateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignMessageTemplate(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessageTemplate>? = null) : GetTemplateResponse {
        val localVarResponse = getCampaignMessageTemplateWithHttpInfo(id = id, revision = revision, fieldsTemplate = fieldsTemplate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTemplateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Campaign Message Template
     * Return the related template&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;10/s&#x60;&lt;br&gt;Steady: &#x60;150/m&#x60;  **Scopes:** &#x60;campaigns:read&#x60; &#x60;templates:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return ApiResponse<GetTemplateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignMessageTemplateWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessageTemplate>?) : ApiResponse<GetTemplateResponse?> {
        val localVariableConfig = getCampaignMessageTemplateRequestConfig(id = id, revision = revision, fieldsTemplate = fieldsTemplate)

        return request<Unit, GetTemplateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignMessageTemplate
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTemplate For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return RequestConfig
     */
    fun getCampaignMessageTemplateRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsTemplate: kotlin.collections.List<FieldsTemplateGetCampaignMessageTemplate>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsTemplate != null) {
                    put("fields[template]", toMultiValue(fieldsTemplate.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/campaign-messages/{id}/template/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsCampaignRecipientEstimation
     */
     enum class FieldsCampaignRecipientEstimationGetCampaignRecipientEstimation(val value: kotlin.String) {
         @Json(name = "estimated_recipient_count") estimated_recipient_count("estimated_recipient_count");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
[...]
