/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.OkHttpClient
import okhttp3.HttpUrl

import org.openapitools.client.models.GetAccounts4XXResponse
import org.openapitools.client.models.GetSegmentListResponseCollectionCompoundDocument
import org.openapitools.client.models.GetSegmentMemberResponseCollection
import org.openapitools.client.models.GetSegmentRelationshipsResponseCollection
import org.openapitools.client.models.GetSegmentRetrieveResponseCompoundDocument
import org.openapitools.client.models.GetSegmentTagRelationshipListResponseCollection
import org.openapitools.client.models.GetTagResponseCollection
import org.openapitools.client.models.PatchSegmentPartialUpdateResponse
import org.openapitools.client.models.PostSegmentCreateResponse
import org.openapitools.client.models.SegmentCreateQuery
import org.openapitools.client.models.SegmentPartialUpdateQuery

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class SegmentsApi(basePath: kotlin.String = defaultBasePath, client: OkHttpClient = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://a.klaviyo.com")
        }
    }

    /**
     * Create Segment
     * Create a segment.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;Daily: &#x60;100/d&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentCreateQuery 
     * @return PostSegmentCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createSegment(revision: kotlin.String = "2024-07-15", segmentCreateQuery: SegmentCreateQuery) : PostSegmentCreateResponse {
        val localVarResponse = createSegmentWithHttpInfo(revision = revision, segmentCreateQuery = segmentCreateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostSegmentCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Segment
     * Create a segment.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;Daily: &#x60;100/d&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentCreateQuery 
     * @return ApiResponse<PostSegmentCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createSegmentWithHttpInfo(revision: kotlin.String, segmentCreateQuery: SegmentCreateQuery) : ApiResponse<PostSegmentCreateResponse?> {
        val localVariableConfig = createSegmentRequestConfig(revision = revision, segmentCreateQuery = segmentCreateQuery)

        return request<SegmentCreateQuery, PostSegmentCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createSegment
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentCreateQuery 
     * @return RequestConfig
     */
    fun createSegmentRequestConfig(revision: kotlin.String, segmentCreateQuery: SegmentCreateQuery) : RequestConfig<SegmentCreateQuery> {
        val localVariableBody = segmentCreateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/segments/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Delete Segment
     * Delete a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteSegment(id: kotlin.String, revision: kotlin.String = "2024-07-15") : Unit {
        val localVarResponse = deleteSegmentWithHttpInfo(id = id, revision = revision)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Delete Segment
     * Delete a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteSegmentWithHttpInfo(id: kotlin.String, revision: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteSegmentRequestConfig(id = id, revision = revision)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteSegment
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return RequestConfig
     */
    fun deleteSegmentRequestConfig(id: kotlin.String, revision: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/segments/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter additionalFieldsSegment
     */
     enum class AdditionalFieldsSegmentGetSegment(val value: kotlin.String) {
         @Json(name = "profile_count") profile_count("profile_count");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsSegment
     */
     enum class FieldsSegmentGetSegment(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "definition") definition("definition"),
         @Json(name = "definition.condition_groups") definitionPeriodCondition_groups("definition.condition_groups"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated"),
         @Json(name = "is_active") is_active("is_active"),
         @Json(name = "is_processing") is_processing("is_processing"),
         @Json(name = "is_starred") is_starred("is_starred"),
         @Json(name = "profile_count") profile_count("profile_count");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsTag
     */
     enum class FieldsTagGetSegment(val value: kotlin.String) {
         @Json(name = "name") name("name");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter include
     */
     enum class IncludeGetSegment(val value: kotlin.String) {
         @Json(name = "tags") tags("tags");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Segment
     * Get a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;&lt;br&gt;&lt;br&gt;Rate limits when using the &#x60;additional-fields[segment]&#x3D;profile_count&#x60; parameter in your API request:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;&lt;br&gt;To learn more about how the &#x60;additional-fields&#x60; parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2024-07-15/docs/rate_limits_and_error_handling) guide.  **Scopes:** &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsSegment Request additional fields not included by default in the response. Supported values: &#39;profile_count&#39; (optional)
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return GetSegmentRetrieveResponseCompoundDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegment(id: kotlin.String, revision: kotlin.String = "2024-07-15", additionalFieldsSegment: kotlin.collections.List<AdditionalFieldsSegmentGetSegment>? = null, fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegment>? = null, fieldsTag: kotlin.collections.List<FieldsTagGetSegment>? = null, include: kotlin.collections.List<IncludeGetSegment>? = null) : GetSegmentRetrieveResponseCompoundDocument {
        val localVarResponse = getSegmentWithHttpInfo(id = id, revision = revision, additionalFieldsSegment = additionalFieldsSegment, fieldsSegment = fieldsSegment, fieldsTag = fieldsTag, include = include)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSegmentRetrieveResponseCompoundDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segment
     * Get a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;&lt;br&gt;&lt;br&gt;Rate limits when using the &#x60;additional-fields[segment]&#x3D;profile_count&#x60; parameter in your API request:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;&lt;br&gt;To learn more about how the &#x60;additional-fields&#x60; parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2024-07-15/docs/rate_limits_and_error_handling) guide.  **Scopes:** &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsSegment Request additional fields not included by default in the response. Supported values: &#39;profile_count&#39; (optional)
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return ApiResponse<GetSegmentRetrieveResponseCompoundDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentWithHttpInfo(id: kotlin.String, revision: kotlin.String, additionalFieldsSegment: kotlin.collections.List<AdditionalFieldsSegmentGetSegment>?, fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegment>?, fieldsTag: kotlin.collections.List<FieldsTagGetSegment>?, include: kotlin.collections.List<IncludeGetSegment>?) : ApiResponse<GetSegmentRetrieveResponseCompoundDocument?> {
        val localVariableConfig = getSegmentRequestConfig(id = id, revision = revision, additionalFieldsSegment = additionalFieldsSegment, fieldsSegment = fieldsSegment, fieldsTag = fieldsTag, include = include)

        return request<Unit, GetSegmentRetrieveResponseCompoundDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegment
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsSegment Request additional fields not included by default in the response. Supported values: &#39;profile_count&#39; (optional)
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @return RequestConfig
     */
    fun getSegmentRequestConfig(id: kotlin.String, revision: kotlin.String, additionalFieldsSegment: kotlin.collections.List<AdditionalFieldsSegmentGetSegment>?, fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegment>?, fieldsTag: kotlin.collections.List<FieldsTagGetSegment>?, include: kotlin.collections.List<IncludeGetSegment>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (additionalFieldsSegment != null) {
                    put("additional-fields[segment]", toMultiValue(additionalFieldsSegment.toList(), "csv"))
                }
                if (fieldsSegment != null) {
                    put("fields[segment]", toMultiValue(fieldsSegment.toList(), "csv"))
                }
                if (fieldsTag != null) {
                    put("fields[tag]", toMultiValue(fieldsTag.toList(), "csv"))
                }
                if (include != null) {
                    put("include", toMultiValue(include.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter additionalFieldsProfile
     */
     enum class AdditionalFieldsProfileGetSegmentProfiles(val value: kotlin.String) {
         @Json(name = "subscriptions") subscriptions("subscriptions"),
         @Json(name = "predictive_analytics") predictive_analytics("predictive_analytics");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsProfile
     */
     enum class FieldsProfileGetSegmentProfiles(val value: kotlin.String) {
         @Json(name = "email") email("email"),
         @Json(name = "phone_number") phone_number("phone_number"),
         @Json(name = "external_id") external_id("external_id"),
         @Json(name = "first_name") first_name("first_name"),
         @Json(name = "last_name") last_name("last_name"),
         @Json(name = "organization") organization("organization"),
         @Json(name = "locale") locale("locale"),
         @Json(name = "title") title("title"),
         @Json(name = "image") image("image"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated"),
         @Json(name = "last_event_date") last_event_date("last_event_date"),
         @Json(name = "location") location("location"),
         @Json(name = "location.address1") locationPeriodAddress1("location.address1"),
         @Json(name = "location.address2") locationPeriodAddress2("location.address2"),
         @Json(name = "location.city") locationPeriodCity("location.city"),
         @Json(name = "location.country") locationPeriodCountry("location.country"),
         @Json(name = "location.latitude") locationPeriodLatitude("location.latitude"),
         @Json(name = "location.longitude") locationPeriodLongitude("location.longitude"),
         @Json(name = "location.region") locationPeriodRegion("location.region"),
         @Json(name = "location.zip") locationPeriodZip("location.zip"),
         @Json(name = "location.timezone") locationPeriodTimezone("location.timezone"),
         @Json(name = "location.ip") locationPeriodIp("location.ip"),
         @Json(name = "properties") properties("properties"),
         @Json(name = "joined_group_at") joined_group_at("joined_group_at"),
         @Json(name = "subscriptions") subscriptions("subscriptions"),
         @Json(name = "subscriptions.email") subscriptionsPeriodEmail("subscriptions.email"),
         @Json(name = "subscriptions.email.marketing") subscriptionsPeriodEmailPeriodMarketing("subscriptions.email.marketing"),
         @Json(name = "subscriptions.email.marketing.can_receive_email_marketing") subscriptionsPeriodEmailPeriodMarketingPeriodCan_receive_email_marketing("subscriptions.email.marketing.can_receive_email_marketing"),
         @Json(name = "subscriptions.email.marketing.consent") subscriptionsPeriodEmailPeriodMarketingPeriodConsent("subscriptions.email.marketing.consent"),
         @Json(name = "subscriptions.email.marketing.consent_timestamp") subscriptionsPeriodEmailPeriodMarketingPeriodConsent_timestamp("subscriptions.email.marketing.consent_timestamp"),
         @Json(name = "subscriptions.email.marketing.last_updated") subscriptionsPeriodEmailPeriodMarketingPeriodLast_updated("subscriptions.email.marketing.last_updated"),
         @Json(name = "subscriptions.email.marketing.method") subscriptionsPeriodEmailPeriodMarketingPeriodMethod("subscriptions.email.marketing.method"),
         @Json(name = "subscriptions.email.marketing.method_detail") subscriptionsPeriodEmailPeriodMarketingPeriodMethod_detail("subscriptions.email.marketing.method_detail"),
         @Json(name = "subscriptions.email.marketing.custom_method_detail") subscriptionsPeriodEmailPeriodMarketingPeriodCustom_method_detail("subscriptions.email.marketing.custom_method_detail"),
         @Json(name = "subscriptions.email.marketing.double_optin") subscriptionsPeriodEmailPeriodMarketingPeriodDouble_optin("subscriptions.email.marketing.double_optin"),
         @Json(name = "subscriptions.email.marketing.suppression") subscriptionsPeriodEmailPeriodMarketingPeriodSuppression("subscriptions.email.marketing.suppression"),
         @Json(name = "subscriptions.email.marketing.list_suppressions") subscriptionsPeriodEmailPeriodMarketingPeriodList_suppressions("subscriptions.email.marketing.list_suppressions"),
         @Json(name = "subscriptions.sms") subscriptionsPeriodSms("subscriptions.sms"),
         @Json(name = "subscriptions.sms.marketing") subscriptionsPeriodSmsPeriodMarketing("subscriptions.sms.marketing"),
         @Json(name = "subscriptions.sms.marketing.can_receive_sms_marketing") subscriptionsPeriodSmsPeriodMarketingPeriodCan_receive_sms_marketing("subscriptions.sms.marketing.can_receive_sms_marketing"),
         @Json(name = "subscriptions.sms.marketing.consent") subscriptionsPeriodSmsPeriodMarketingPeriodConsent("subscriptions.sms.marketing.consent"),
         @Json(name = "subscriptions.sms.marketing.consent_timestamp") subscriptionsPeriodSmsPeriodMarketingPeriodConsent_timestamp("subscriptions.sms.marketing.consent_timestamp"),
         @Json(name = "subscriptions.sms.marketing.method") subscriptionsPeriodSmsPeriodMarketingPeriodMethod("subscriptions.sms.marketing.method"),
         @Json(name = "subscriptions.sms.marketing.method_detail") subscriptionsPeriodSmsPeriodMarketingPeriodMethod_detail("subscriptions.sms.marketing.method_detail"),
         @Json(name = "subscriptions.sms.marketing.last_updated") subscriptionsPeriodSmsPeriodMarketingPeriodLast_updated("subscriptions.sms.marketing.last_updated"),
         @Json(name = "subscriptions.mobile_push") subscriptionsPeriodMobile_push("subscriptions.mobile_push"),
         @Json(name = "subscriptions.mobile_push.marketing") subscriptionsPeriodMobile_pushPeriodMarketing("subscriptions.mobile_push.marketing"),
         @Json(name = "subscriptions.mobile_push.marketing.can_receive_push_marketing") subscriptionsPeriodMobile_pushPeriodMarketingPeriodCan_receive_push_marketing("subscriptions.mobile_push.marketing.can_receive_push_marketing"),
         @Json(name = "subscriptions.mobile_push.marketing.consent") subscriptionsPeriodMobile_pushPeriodMarketingPeriodConsent("subscriptions.mobile_push.marketing.consent"),
         @Json(name = "subscriptions.mobile_push.marketing.consent_timestamp") subscriptionsPeriodMobile_pushPeriodMarketingPeriodConsent_timestamp("subscriptions.mobile_push.marketing.consent_timestamp"),
         @Json(name = "predictive_analytics") predictive_analytics("predictive_analytics"),
         @Json(name = "predictive_analytics.historic_clv") predictive_analyticsPeriodHistoric_clv("predictive_analytics.historic_clv"),
         @Json(name = "predictive_analytics.predicted_clv") predictive_analyticsPeriodPredicted_clv("predictive_analytics.predicted_clv"),
         @Json(name = "predictive_analytics.total_clv") predictive_analyticsPeriodTotal_clv("predictive_analytics.total_clv"),
         @Json(name = "predictive_analytics.historic_number_of_orders") predictive_analyticsPeriodHistoric_number_of_orders("predictive_analytics.historic_number_of_orders"),
         @Json(name = "predictive_analytics.predicted_number_of_orders") predictive_analyticsPeriodPredicted_number_of_orders("predictive_analytics.predicted_number_of_orders"),
         @Json(name = "predictive_analytics.average_days_between_orders") predictive_analyticsPeriodAverage_days_between_orders("predictive_analytics.average_days_between_orders"),
         @Json(name = "predictive_analytics.average_order_value") predictive_analyticsPeriodAverage_order_value("predictive_analytics.average_order_value"),
         @Json(name = "predictive_analytics.churn_probability") predictive_analyticsPeriodChurn_probability("predictive_analytics.churn_probability"),
         @Json(name = "predictive_analytics.expected_date_of_next_order") predictive_analyticsPeriodExpected_date_of_next_order("predictive_analytics.expected_date_of_next_order");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter sort
     */
     enum class SortGetSegmentProfiles(val value: kotlin.String) {
         @Json(name = "joined_group_at") joined_group_at("joined_group_at"),
         @Json(name = "-joined_group_at") MinusJoined_group_at("-joined_group_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Segment Profiles
     * Get all profiles within a segment with the given segment ID.  Filter to request a subset of all profiles. Profiles can be filtered by &#x60;email&#x60;, &#x60;phone_number&#x60;, &#x60;push_token&#x60;, and &#x60;joined_group_at&#x60; fields. Profiles can be sorted by the following fields, in ascending and descending order: &#x60;joined_group_at&#x60;&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;profiles:read&#x60; &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsProfile Request additional fields not included by default in the response. Supported values: &#39;subscriptions&#39;, &#39;predictive_analytics&#39; (optional)
     * @param fieldsProfile For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 100. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return GetSegmentMemberResponseCollection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegmentProfiles(id: kotlin.String, revision: kotlin.String = "2024-07-15", additionalFieldsProfile: kotlin.collections.List<AdditionalFieldsProfileGetSegmentProfiles>? = null, fieldsProfile: kotlin.collections.List<FieldsProfileGetSegmentProfiles>? = null, filter: kotlin.String? = null, pageCursor: kotlin.String? = null, pageSize: kotlin.Int? = 20, sort: SortGetSegmentProfiles? = null) : GetSegmentMemberResponseCollection {
        val localVarResponse = getSegmentProfilesWithHttpInfo(id = id, revision = revision, additionalFieldsProfile = additionalFieldsProfile, fieldsProfile = fieldsProfile, filter = filter, pageCursor = pageCursor, pageSize = pageSize, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSegmentMemberResponseCollection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segment Profiles
     * Get all profiles within a segment with the given segment ID.  Filter to request a subset of all profiles. Profiles can be filtered by &#x60;email&#x60;, &#x60;phone_number&#x60;, &#x60;push_token&#x60;, and &#x60;joined_group_at&#x60; fields. Profiles can be sorted by the following fields, in ascending and descending order: &#x60;joined_group_at&#x60;&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;profiles:read&#x60; &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsProfile Request additional fields not included by default in the response. Supported values: &#39;subscriptions&#39;, &#39;predictive_analytics&#39; (optional)
     * @param fieldsProfile For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 100. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return ApiResponse<GetSegmentMemberResponseCollection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentProfilesWithHttpInfo(id: kotlin.String, revision: kotlin.String, additionalFieldsProfile: kotlin.collections.List<AdditionalFieldsProfileGetSegmentProfiles>?, fieldsProfile: kotlin.collections.List<FieldsProfileGetSegmentProfiles>?, filter: kotlin.String?, pageCursor: kotlin.String?, pageSize: kotlin.Int?, sort: SortGetSegmentProfiles?) : ApiResponse<GetSegmentMemberResponseCollection?> {
        val localVariableConfig = getSegmentProfilesRequestConfig(id = id, revision = revision, additionalFieldsProfile = additionalFieldsProfile, fieldsProfile = fieldsProfile, filter = filter, pageCursor = pageCursor, pageSize = pageSize, sort = sort)

        return request<Unit, GetSegmentMemberResponseCollection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegmentProfiles
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param additionalFieldsProfile Request additional fields not included by default in the response. Supported values: &#39;subscriptions&#39;, &#39;predictive_analytics&#39; (optional)
     * @param fieldsProfile For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 100. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return RequestConfig
     */
    fun getSegmentProfilesRequestConfig(id: kotlin.String, revision: kotlin.String, additionalFieldsProfile: kotlin.collections.List<AdditionalFieldsProfileGetSegmentProfiles>?, fieldsProfile: kotlin.collections.List<FieldsProfileGetSegmentProfiles>?, filter: kotlin.String?, pageCursor: kotlin.String?, pageSize: kotlin.Int?, sort: SortGetSegmentProfiles?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (additionalFieldsProfile != null) {
                    put("additional-fields[profile]", toMultiValue(additionalFieldsProfile.toList(), "csv"))
                }
                if (fieldsProfile != null) {
                    put("fields[profile]", toMultiValue(fieldsProfile.toList(), "csv"))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (pageCursor != null) {
                    put("page[cursor]", listOf(pageCursor.toString()))
                }
                if (pageSize != null) {
                    put("page[size]", listOf(pageSize.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/{id}/profiles/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sort
     */
     enum class SortGetSegmentRelationshipsProfiles(val value: kotlin.String) {
         @Json(name = "joined_group_at") joined_group_at("joined_group_at"),
         @Json(name = "-joined_group_at") MinusJoined_group_at("-joined_group_at");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Segment Relationships Profiles
     * Get all profile membership [relationships](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;profiles:read&#x60; &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 1000. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return GetSegmentRelationshipsResponseCollection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegmentRelationshipsProfiles(id: kotlin.String, revision: kotlin.String = "2024-07-15", filter: kotlin.String? = null, pageCursor: kotlin.String? = null, pageSize: kotlin.Int? = 20, sort: SortGetSegmentRelationshipsProfiles? = null) : GetSegmentRelationshipsResponseCollection {
        val localVarResponse = getSegmentRelationshipsProfilesWithHttpInfo(id = id, revision = revision, filter = filter, pageCursor = pageCursor, pageSize = pageSize, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSegmentRelationshipsResponseCollection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segment Relationships Profiles
     * Get all profile membership [relationships](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;profiles:read&#x60; &#x60;segments:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 1000. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return ApiResponse<GetSegmentRelationshipsResponseCollection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentRelationshipsProfilesWithHttpInfo(id: kotlin.String, revision: kotlin.String, filter: kotlin.String?, pageCursor: kotlin.String?, pageSize: kotlin.Int?, sort: SortGetSegmentRelationshipsProfiles?) : ApiResponse<GetSegmentRelationshipsResponseCollection?> {
        val localVariableConfig = getSegmentRelationshipsProfilesRequestConfig(id = id, revision = revision, filter = filter, pageCursor = pageCursor, pageSize = pageSize, sort = sort)

        return request<Unit, GetSegmentRelationshipsResponseCollection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegmentRelationshipsProfiles
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;email&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;phone_number&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;push_token&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;_kx&#x60;: &#x60;equals&#x60;&lt;br&gt;&#x60;joined_group_at&#x60;: &#x60;greater-or-equal&#x60;, &#x60;greater-than&#x60;, &#x60;less-or-equal&#x60;, &#x60;less-than&#x60; (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param pageSize Default: 20. Min: 1. Max: 1000. (optional, default to 20)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return RequestConfig
     */
    fun getSegmentRelationshipsProfilesRequestConfig(id: kotlin.String, revision: kotlin.String, filter: kotlin.String?, pageCursor: kotlin.String?, pageSize: kotlin.Int?, sort: SortGetSegmentRelationshipsProfiles?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (pageCursor != null) {
                    put("page[cursor]", listOf(pageCursor.toString()))
                }
                if (pageSize != null) {
                    put("page[size]", listOf(pageSize.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/{id}/relationships/profiles/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Segment Relationships Tags
     * If &#x60;related_resource&#x60; is &#x60;tags&#x60;, returns the tag IDs of all tags associated with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:read&#x60; &#x60;tags:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return GetSegmentTagRelationshipListResponseCollection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegmentRelationshipsTags(id: kotlin.String, revision: kotlin.String = "2024-07-15") : GetSegmentTagRelationshipListResponseCollection {
        val localVarResponse = getSegmentRelationshipsTagsWithHttpInfo(id = id, revision = revision)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSegmentTagRelationshipListResponseCollection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segment Relationships Tags
     * If &#x60;related_resource&#x60; is &#x60;tags&#x60;, returns the tag IDs of all tags associated with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:read&#x60; &#x60;tags:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return ApiResponse<GetSegmentTagRelationshipListResponseCollection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentRelationshipsTagsWithHttpInfo(id: kotlin.String, revision: kotlin.String) : ApiResponse<GetSegmentTagRelationshipListResponseCollection?> {
        val localVariableConfig = getSegmentRelationshipsTagsRequestConfig(id = id, revision = revision)

        return request<Unit, GetSegmentTagRelationshipListResponseCollection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegmentRelationshipsTags
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @return RequestConfig
     */
    fun getSegmentRelationshipsTagsRequestConfig(id: kotlin.String, revision: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/{id}/relationships/tags/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsTag
     */
     enum class FieldsTagGetSegmentTags(val value: kotlin.String) {
         @Json(name = "name") name("name");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Segment Tags
     * Return all tags associated with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:read&#x60; &#x60;tags:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return GetTagResponseCollection
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegmentTags(id: kotlin.String, revision: kotlin.String = "2024-07-15", fieldsTag: kotlin.collections.List<FieldsTagGetSegmentTags>? = null) : GetTagResponseCollection {
        val localVarResponse = getSegmentTagsWithHttpInfo(id = id, revision = revision, fieldsTag = fieldsTag)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTagResponseCollection
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segment Tags
     * Return all tags associated with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;3/s&#x60;&lt;br&gt;Steady: &#x60;60/m&#x60;  **Scopes:** &#x60;segments:read&#x60; &#x60;tags:read&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return ApiResponse<GetTagResponseCollection?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentTagsWithHttpInfo(id: kotlin.String, revision: kotlin.String, fieldsTag: kotlin.collections.List<FieldsTagGetSegmentTags>?) : ApiResponse<GetTagResponseCollection?> {
        val localVariableConfig = getSegmentTagsRequestConfig(id = id, revision = revision, fieldsTag = fieldsTag)

        return request<Unit, GetTagResponseCollection>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegmentTags
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @return RequestConfig
     */
    fun getSegmentTagsRequestConfig(id: kotlin.String, revision: kotlin.String, fieldsTag: kotlin.collections.List<FieldsTagGetSegmentTags>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsTag != null) {
                    put("fields[tag]", toMultiValue(fieldsTag.toList(), "csv"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/{id}/tags/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter fieldsSegment
     */
     enum class FieldsSegmentGetSegments(val value: kotlin.String) {
         @Json(name = "name") name("name"),
         @Json(name = "definition") definition("definition"),
         @Json(name = "definition.condition_groups") definitionPeriodCondition_groups("definition.condition_groups"),
         @Json(name = "created") created("created"),
         @Json(name = "updated") updated("updated"),
         @Json(name = "is_active") is_active("is_active"),
         @Json(name = "is_processing") is_processing("is_processing"),
         @Json(name = "is_starred") is_starred("is_starred");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter fieldsTag
     */
     enum class FieldsTagGetSegments(val value: kotlin.String) {
         @Json(name = "name") name("name");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter include
     */
     enum class IncludeGetSegments(val value: kotlin.String) {
         @Json(name = "tags") tags("tags");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter sort
     */
     enum class SortGetSegments(val value: kotlin.String) {
         @Json(name = "created") created("created"),
         @Json(name = "-created") MinusCreated("-created"),
         @Json(name = "id") id("id"),
         @Json(name = "-id") MinusId("-id"),
         @Json(name = "name") name("name"),
         @Json(name = "-name") MinusName("-name"),
         @Json(name = "updated") updated("updated"),
         @Json(name = "-updated") MinusUpdated("-updated");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Get Segments
     * Get all segments in an account.  Filter to request a subset of all segments. Segments can be filtered by &#x60;name&#x60;, &#x60;created&#x60;, and &#x60;updated&#x60; fields.  Returns a maximum of 10 results per page.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;segments:read&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;name&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;id&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;created&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;updated&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;is_active&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;is_starred&#x60;: &#x60;equals&#x60; (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return GetSegmentListResponseCollectionCompoundDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSegments(revision: kotlin.String = "2024-07-15", fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegments>? = null, fieldsTag: kotlin.collections.List<FieldsTagGetSegments>? = null, filter: kotlin.String? = null, include: kotlin.collections.List<IncludeGetSegments>? = null, pageCursor: kotlin.String? = null, sort: SortGetSegments? = null) : GetSegmentListResponseCollectionCompoundDocument {
        val localVarResponse = getSegmentsWithHttpInfo(revision = revision, fieldsSegment = fieldsSegment, fieldsTag = fieldsTag, filter = filter, include = include, pageCursor = pageCursor, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSegmentListResponseCollectionCompoundDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Segments
     * Get all segments in an account.  Filter to request a subset of all segments. Segments can be filtered by &#x60;name&#x60;, &#x60;created&#x60;, and &#x60;updated&#x60; fields.  Returns a maximum of 10 results per page.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;75/s&#x60;&lt;br&gt;Steady: &#x60;700/m&#x60;  **Scopes:** &#x60;segments:read&#x60;
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;name&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;id&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;created&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;updated&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;is_active&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;is_starred&#x60;: &#x60;equals&#x60; (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return ApiResponse<GetSegmentListResponseCollectionCompoundDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSegmentsWithHttpInfo(revision: kotlin.String, fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegments>?, fieldsTag: kotlin.collections.List<FieldsTagGetSegments>?, filter: kotlin.String?, include: kotlin.collections.List<IncludeGetSegments>?, pageCursor: kotlin.String?, sort: SortGetSegments?) : ApiResponse<GetSegmentListResponseCollectionCompoundDocument?> {
        val localVariableConfig = getSegmentsRequestConfig(revision = revision, fieldsSegment = fieldsSegment, fieldsTag = fieldsTag, filter = filter, include = include, pageCursor = pageCursor, sort = sort)

        return request<Unit, GetSegmentListResponseCollectionCompoundDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSegments
     *
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param fieldsSegment For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param fieldsTag For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sparse-fieldsets (optional)
     * @param filter For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#filtering&lt;br&gt;Allowed field(s)/operator(s):&lt;br&gt;&#x60;name&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;id&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;created&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;updated&#x60;: &#x60;greater-than&#x60;&lt;br&gt;&#x60;is_active&#x60;: &#x60;any&#x60;, &#x60;equals&#x60;&lt;br&gt;&#x60;is_starred&#x60;: &#x60;equals&#x60; (optional)
     * @param include For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#relationships (optional)
     * @param pageCursor For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#pagination (optional)
     * @param sort For more information please visit https://developers.klaviyo.com/en/v2024-07-15/reference/api-overview#sorting (optional)
     * @return RequestConfig
     */
    fun getSegmentsRequestConfig(revision: kotlin.String, fieldsSegment: kotlin.collections.List<FieldsSegmentGetSegments>?, fieldsTag: kotlin.collections.List<FieldsTagGetSegments>?, filter: kotlin.String?, include: kotlin.collections.List<IncludeGetSegments>?, pageCursor: kotlin.String?, sort: SortGetSegments?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fieldsSegment != null) {
                    put("fields[segment]", toMultiValue(fieldsSegment.toList(), "csv"))
                }
                if (fieldsTag != null) {
                    put("fields[tag]", toMultiValue(fieldsTag.toList(), "csv"))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (include != null) {
                    put("include", toMultiValue(include.toList(), "csv"))
                }
                if (pageCursor != null) {
                    put("page[cursor]", listOf(pageCursor.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/segments/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Update Segment
     * Update a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;Daily: &#x60;100/d&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentPartialUpdateQuery 
     * @return PatchSegmentPartialUpdateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateSegment(id: kotlin.String, revision: kotlin.String = "2024-07-15", segmentPartialUpdateQuery: SegmentPartialUpdateQuery) : PatchSegmentPartialUpdateResponse {
        val localVarResponse = updateSegmentWithHttpInfo(id = id, revision = revision, segmentPartialUpdateQuery = segmentPartialUpdateQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PatchSegmentPartialUpdateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Update Segment
     * Update a segment with the given segment ID.&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;1/s&#x60;&lt;br&gt;Steady: &#x60;15/m&#x60;&lt;br&gt;Daily: &#x60;100/d&#x60;  **Scopes:** &#x60;segments:write&#x60;
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentPartialUpdateQuery 
     * @return ApiResponse<PatchSegmentPartialUpdateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateSegmentWithHttpInfo(id: kotlin.String, revision: kotlin.String, segmentPartialUpdateQuery: SegmentPartialUpdateQuery) : ApiResponse<PatchSegmentPartialUpdateResponse?> {
        val localVariableConfig = updateSegmentRequestConfig(id = id, revision = revision, segmentPartialUpdateQuery = segmentPartialUpdateQuery)

        return request<SegmentPartialUpdateQuery, PatchSegmentPartialUpdateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateSegment
     *
     * @param id 
     * @param revision API endpoint revision (format: YYYY-MM-DD[.suffix]) (default to "2024-07-15")
     * @param segmentPartialUpdateQuery 
     * @return RequestConfig
     */
    fun updateSegmentRequestConfig(id: kotlin.String, revision: kotlin.String, segmentPartialUpdateQuery: SegmentPartialUpdateQuery) : RequestConfig<SegmentPartialUpdateQuery> {
        val localVariableBody = segmentPartialUpdateQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        revision.apply { localVariableHeaders["revision"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/segments/{id}/".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
